.button {
  background: #17A2B8;
  color: white;
  text-align: center;
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.desktop-text-content {
  width: 45%;
  margin: 0;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes right-slide-in {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes left-slide-in {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.9rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
span {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem dashed #C0C0C0;
}
@media (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
header h1 {
  margin: 2rem 0;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: black;
}
header nav a:first-child:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  color: red;
}
header nav a:nth-child(2):hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  color: orange;
}
header nav a:nth-child(3):hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  color: dodgerblue;
}
header nav a:last-child:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  color: green;
}
@media (min-width: 800px) {
  header nav {
    width: 50%;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  padding: 0 3%;
}
@media (min-width: 800px) {
  .home {
    padding: 0;
  }
}
.home .content-welcome {
  margin: 0 auto;
  border-bottom: 0.2rem dashed #C0C0C0;
}
.home .content-welcome h2 {
  margin: 2rem 0 0 0;
}
.home .content-section {
  border-bottom: 0.2rem dashed #C0C0C0;
}
@media (min-width: 600px) {
  .home .content-section {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .home .content-section {
    display: block;
  }
}
.home .content-section .content-div {
  display: flex;
  flex-direction: column;
  animation: right-slide-in 2s;
}
@media (min-width: 600px) {
  .home .content-section .content-div {
    width: 50%;
    padding: 0 2rem;
  }
}
@media (min-width: 800px) {
  .home .content-section .content-div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0 0;
  }
}
.home .content-section .content-div .text-content {
  margin: 2rem 0 0 0;
}
@media (min-width: 800px) {
  .home .content-section .content-div .text-content {
    width: 45%;
    margin: 0;
  }
}
.home .content-section .content-div .img-content img {
  border-radius: 1rem;
  width: 100%;
}
.home .content-section .inverse-content {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  animation: left-slide-in 2s;
}
@media (min-width: 600px) {
  .home .content-section .inverse-content {
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .home .content-section .inverse-content {
    flex-direction: row;
  }
}
.home .content-section .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (min-width: 800px) {
  .home .content-section .inverse-content .text-content {
    width: 45%;
    margin: 0;
  }
}
.home .content-section .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  margin: 2rem auto;
}
@media (min-width: 800px) {
  .home .content-destination {
    padding: 0 10%;
  }
}
.home .content-destination img {
  border-radius: 1rem;
  width: 100%;
}
.home .content-pick {
  padding: 3rem;
  border-top: 0.2rem dashed #C0C0C0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home .content-pick {
    flex-direction: row;
  }
}
.home .content-pick .destination {
  margin-bottom: 3rem;
}
@media (min-width: 800px) {
  .home .content-pick .destination {
    padding: 0 2.5%;
  }
}
.home .content-pick .btn {
  width: 100%;
  background: #17A2B8;
  color: white;
  text-align: center;
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.destinations-images-section h1 {
  padding: 2rem 0;
}
.destinations-images-section .img-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.destinations-images-section .img-column-container div:first-child {
  display: none;
}
@media (min-width: 800px) {
  .destinations-images-section .img-column-container div:first-child {
    display: block;
  }
}
.destinations-images-section .img-column-container div:last-child {
  display: none;
}
@media (min-width: 600px) {
  .destinations-images-section .img-column-container div:last-child {
    display: block;
  }
}
.destinations-images-section .img-column-container .img-column {
  width: 100%;
}
@media (min-width: 800px) {
  .destinations-images-section .img-column-container .img-column {
    width: 33%;
  }
}
.destinations-images-section .img-column-container .img-column img {
  padding: 0.25rem 0.25rem;
}
.destination-form-section h1 {
  border-bottom: 0.2rem dashed #C0C0C0;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.destination-form-section form {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .destination-form-section form {
    align-items: center;
  }
}
.destination-form-section form h3 {
  margin: 2rem 0;
}
.destination-form-section form div {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 800px) {
  .destination-form-section form div {
    width: 60%;
  }
}
.destination-form-section form input[type="submit"] {
  margin: 2rem 0;
}
