// Mixins in here

.flex(@direction: row) {
    display: flex;
    flex-direction: @direction;
}

.button {
    background: @button-bg;
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: @small;
    font-size: @small;
    font-weight: bold;
}

.desktop-text-content {
    width: 45%;
    margin: 0;
}