// Navigation Styles here

header {
    .flex(column);
    align-items: center;
    border-bottom: @dashed-silver;

    @media @desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        margin: @small 0;
    }

    nav {
        .flex();
        justify-content: space-around;
        width: 100%;
        color: black;
        a:first-child:hover {
            .shake-animation(red);
        }
        a:nth-child(2):hover {
            .shake-animation(orange);
        }
        a:nth-child(3):hover {
            .shake-animation(dodgerblue);
        }
        a:last-child:hover {
            .shake-animation(green);
        }
        @media @desktop {
            width: 50%;
            
        }

    }


}